/*

	My main Colors 
		first color : #08526d 
		Second color : #ec1c23
*/


body {font-family: 'Lato', sans-serif;}

/* Start Upper bar  */
.upper-bar {
	background-color: #08526d;
	color: #fff;
}
.upper-bar .info {margin: 15px 0}
/* Start Upper bar  */

.upper-bar span {
	font-size: 14px
}
.upper-bar span:first-of-type {color: #ddd;margin-right: 12px}
.upper-bar span i {margin-right: 5px}
.upper-bar .get {border: 1px solid #f00;padding: 2px 8px;font-size: 15px}
.upper-bar .last {margin-left: 39%;color: #ddd}
@media (max-width: 576px) {
	.upper-bar span:first-of-type {display: inline-block}
	.upper-bar .info:first-child {margin-bottom: 0}
	.upper-bar .get {border: none}
}
/*End upper bar*/

/*Start navbar */
.navbar-light .navbar-brand {
	font-size: 35px;
	font-weight: bold;
}
.navbar-light .navbar-brand span {font-weight: normal;color: #ec1c23}
.navbar-light .navbar-nav li {margin-left: 20px;}
.navbar-light .navbar-nav li a {text-transform: uppercase;font-size: 15px}
.navbar-light .navbar-nav li.active a, 
.navbar-light .navbar-nav li:hover a {color: #ec1c23 !important}
/*End navbar */


/*Start slider*/
.slider {
	background-color: #ddd
}
.slider .carousel-item {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.slider .carsoul-one {
	background-image: url(../images/slider-1.png);
}
.slider .carsoul-two {
	background-image: url(../images/slider-1.png);
}
.slider .carsoul-three {
	background-image: url(../images/slider-1.png);
}
.slider .carousel-inner {
	display: flex;
	align-items: center;
	justify-content: left;
}
.slider .carousel-inner h1 {
	position: absolute;
	color: #fff;
	z-index: 3;
	font-size: 60px;
	line-height: 1.5;
	left: 100px;
	color: #000
}
.slider .carousel-inner h1 span {background-color: #ec1c23;display: inline-block;padding: 2px 10px}
.slider .carousel-inner .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
}
.slider .carousel-indicators li {
	height: 8px;
	cursor: pointer;
}
@media (max-width: 768px){
	.slider .carousel-inner {justify-content: center}
	.slider .carousel-inner h1 {
		font-size: 34px;
		color: #fff;
		text-align: center;
		left: auto;
		max-width: 100%;
	}
}

/*Start our features*/
.features {padding: 40px 0}
.features i {
	background-color: #ec1c23;
	color: #fff;
	padding: 12px;
	margin-bottom: 10px;
}
.features h3 {
	color: #08526d;
	font-size: 22px;
	margin-top: 10px
}
.features p {
	color: #999;
	font-size: 22px;
	font-size: 18px;
	margin-bottom: 30px;
}
/*End our features*/

/*Start Company overview*/
.overview {
	padding: 60px 0;
	background-color: #f0f5f7;
}
.overview h2 {font-size: 36px;text-transform: uppercase;font-weight: bolder;padding: 20px 0;}
.overview p {font-size: 17px;line-height: 1.6;margin: 0 auto 15px;color: #747b7f;width: 80%}
.overview span {letter-spacing: 1.5px;display: block;margin: 20px 0;font-size: 18px;color: #777}
.overview button {
	background-color: #ed1d24;
	color: #fff;
	border-radius: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 10px 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.overview button:hover {
	background-color: #fff;
	color: #ed1d24;
	border: 1px solid #ed1d24;
}
@media (max-width: 992px){
	.overview p {width: 100%;}
	.overview h2 {font-size: 30px;}
}
/*Start Company overview*/



/*Start featured work*/
.featured-work {padding: 100px 0}
.featured-work h2 {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 20px;
}
.featured-work p {
	line-height: 1.6;
	font-size: 18px;
	width: 80%;
	margin: 0 auto 40px;
	color: #6a6a6a;
}
.featured-work .btns {margin: 10px auto;}
.featured-work .btns button {
	color: #08526d;
	border: 1px solid #08526d;
	padding: 10px 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: transparent;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 2px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.featured-work .btns button.active,
.featured-work .btns button:hover {
	background-color: #ec1c23;
	color: #fff;
	border: 2px solid #ec1c23
}
.featured-work .gallery {margin-top: 50px}
.featured-work .gallery .row {margin: 0;}
.featured-work .gallery .col-sm {
	padding: 0px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.featured-work .gallery .col-sm img {width: 100%}
/*End featured work*/

/*Start latest post*/
.latest-posts {padding: 0px 0 100px 0}
.latest-posts h2 {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 20px;
}
.latest-posts .sec-desc {
	line-height: 1.6;
	font-size: 18px;
	width: 80%;
	margin: 0 auto 40px;
	color: #6a6a6a;
}
.latest-posts .card {margin-bottom: 25px}
.latest-posts .card .card-title {
	font-size: 18px;
	color: #08526d;
	line-height: 1.5
}
.latest-posts .card .card-subtitle {font-size: 13px}
.latest-posts .card .card-text {
	font-size: 16px;
	color: #787878;
	line-height: 1.5;
	margin-bottom: 5px
}
.latest-posts .card .card-link {
	color: #ee393e;
	font-weight: bold;
	font-size: 14px
}
/*End latest post*/

/*Start testimonials*/
.testimonials {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(../images/testimonial.png);
	position: relative;
}
.testimonials .carousel {
	position: relative;
	z-index: 5;
}
.testimonials .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
}
.testimonials .carousel-caption {
	top: 28%;
}
@media (max-width:992) {
	.testimonials .carousel-caption  {top: 0%;}
}
.testimonials .carousel-caption img {
	margin-bottom: 20px;
}
.testimonials .carousel-caption h3 {margin-bottom: 5px;}
.testimonials .carousel-caption p {width: 75%;margin: 0 auto 10px;}
.testimonials .carousel-caption span {font-size: 17px;margin-bottom: 30px;display: block;letter-spacing: 1px}
.carousel-control-next, 
.carousel-control-prev {
	top: 49%;
	width: 55px;
    height: 55px;
	margin: 0 20px;
	z-index: 6
}
.testimonials .carousel .carousel-control-next, .carousel-control-next.active {background-color: #ec1c23}
.testimonials .carousel .carousel-control-prev {background-color: #000}
/*End testimonials*/

/*Start pricing table*/
.pricing-table {padding: 60px 0;background-color: #f7f7f7;}
.pricing-table h2 {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 20px;
}
.pricing-table .sec-desc {
	line-height: 1.6;
	font-size: 17px;
	width: 80%;
	margin: 0 auto 40px;
	color: #6a6a6a;
	word-spacing: 1px
}
.pricing-table .card {
	margin: 25px 0; 
	border: none;
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #ddd
}
.middle {position: relative;top: -12px}
@media (max-width: 768px) {
	.middle {top: 0px}
}
.pricing-table .card .card-title {
	font-size: 24px;
	color: #08526d;
	padding-top: 25px;
}
.pricing-table .card .card-subtitle {font-size: 14px;color: #666;margin-bottom: 30px}
.pricing-table .card .card-text {
	font-size: 28px;
	background-color: #f7f7f7;
	color: #08526d;
	margin-bottom: 5px;
	padding: 10px 0;
	letter-spacing: 1px;
}
.pricing-table .card .card-text span {font-size: 16px}
.pricing-table .card ul li {
	border: none;
	color: #666
}
.pricing-table .card button {
	background-color: #ee393e;
	border-radius: 0;
	font-size: 18px;
	padding: 13px 35px;
	letter-spacing: 2px;
	word-spacing: 1px;
	margin: 25px 0;
}
.pricing-table .card button a {color: #fff;text-decoration: none;text-transform: uppercase;font-weight: normal}

.pricing-table .colored {
	
}
.pricing-table .colored .card-text {
	background-color: #ee393e;
	color: #fff
}
.pricing-table .colored button {
	background-color: #08526d
}

/*End pricing table*/

/*Start why choose us*/

.why-us img {max-width: 100%}
.why-us .info {padding: 0;}
.why-us .info:last-child {
	background-color: #08526d;
	color: #fff;
	padding-top: 60px;
}
.why-us h3 {margin: 30px;font-size: 30px;font-weight: bold}
.why-us p {margin-left: 30px;line-height: 1.6;margin-bottom: 40px;}
.why-us  .read-more {
	background-color: #ee393e;
	border-radius: 0;
	font-size: 18px;
	padding: 13px 35px;
	letter-spacing: 2px;
	word-spacing: 1.4px;
	margin: 25px 0 40px 30px;
}
.why-us  .read-more a {color: #fff;text-decoration: none;text-transform: uppercase;font-size: 18px}
/*End why choose us*/



/*Start statistics */
.statistics {padding: 80px 0;}
.statistics .feat {margin-bottom: 30px}
.statistics i ,.statistics h2  {color: #08526d}
.statistics h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0
}
.statistics span i {display: block;color: #ec1c23;}
/*End statistics */

/*Start contact us*/
.contact {
	padding: 80px 0;
	background-color: #ec1c23;
	font-size: 22px
}
.contact p {color: #fff;letter-spacing: 1px;}
.contact button {
	padding: 8px 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.contact button a {text-decoration: none;color: #fff}
/*End contact us*/

/*Start footer*/
.footer {
	padding: 60px 0;
	background-color: #f7f7f7;
	border-bottom: 1px solid #888
}
.footer .bref  {margin-bottom: 25px;}
.footer .bref .navbar-brand {
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
	color: #08526d;
	margin-bottom: 20px;
}
.footer .bref .navbar-brand span {font-weight: normal;color: #ec1c23}
.footer .bref p {color: #08526d;line-height: 1.6;padding-right: 10px;}
.footer .bref .f-more {
	color: #08526d
}
.footer .bref .f-more i {margin-right: 4px;}
.footer h3 {text-transform: capitalize;color: #447084;margin-bottom: 55px}
.footer .links ul {float: left;padding: 0 10px}
.footer .links ul li {margin-right: 60px;margin-bottom: 5px}
.footer .links ul li a {text-decoration: none;color: #08526d}
.footer .links ul li a i {margin-right: 4px;}
.footer .address p {color: #08526d;padding: 7px;}


@media (max-width: 992px) {
	.footer h3 {margin-bottom: 20px;margin-top: 20px;}
	.footer .links ul li {margin-right: 30px;margin-bottom: 2px;}
	.footer .address p {padding: 4px}
}
/*Start social-media*/
.social-media {padding: 25px 0;background-color: #f7f7f7}
.social-media .copyright p {color: #08526d}
.social-media .social-icons ul li {display: inline;margin-right: 25px;}
.social-media .social-icons ul li a {text-decoration: none;color: #08526d}
/*End footer*/
